.container {
    display: flex;
    position: fixed;
    top: 0;
    width: 96%;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    height: 120px;
    padding: 0 32px;
    z-index: 1;
}

.divTitle {
    display: flex;
    gap: 32px;
    align-items: center;
}

.h1{
    color:#FFFFFF;
    font-size: 40px;
}

.logo {
    width: 80px;
    height: 70px;
}

.nav {
    display: flex;
    gap: 32px;
}

.button {
    font-weight: bold;
    color: #DDDDDD;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    color: #FFFFFF;
}